{% extends "dashboard/dashboard.html" %} 
{% block title %}manager Dashboard{% endblock title %}
{% block tasks %} 
{% comment %} Task Table {% endcomment %}

<div class="bg-white rounded-xl shadow-sm mb-9">
  <div class="grid grid-cols-4 p-4 border-b border-gray-100 text-gray-500">
    <div>Task Title</div>
    <div>Priority</div>
    <div>Team</div>
    <div>Created AT</div>
  </div>

  {% comment %} Task Items 1 {% endcomment %}

  <div class="divide-y divide-gray-100">
    {% for task in tasks %}
    <div class="grid grid-cols-4 p-4 gap-2 items-center">
      <div class="flex items-center gap-4">
        <div class="w-2 h-2 bg-green-500 rounded-full"></div>
        <div>
          <a href="{% url 'task-details' task.id %}">{{task.title}}</a>
          {% comment %} for edit button {% endcomment %}
          <a href="{% url 'update-task' task.id %}" class="px-2 py-1 bg-green-500 rounded-md">Edit</a>
        <form action="{% url 'delete-task' task.id%}" method='POST'>
          {% comment %} for delete button  {% endcomment %}
           {% csrf_token %}
          <button type='submit' class="px-2 py-1 bg-red-500 rounded-md">Delete</button>
        </form>
        </div>
      </div>
      <div>
        <span class="px-3 py-1 rounded-full bg-blue-50 text-blue-600 text-sm">
          {{task.details.get_priority_display}}</span
        >
      </div>
      <div class="flex -space-x-2">
      {% for emp in task.assigned_to.all %}
        <div
          class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white"
        > {{emp.first_name|slice:':2'}}</div>
      {% endfor %}
      </div>
      <div>
        <span class="text-gray-500">{{task.Created_at | timesince}}</span>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock tasks %}
